$main-color:#00bcd7;
$fff:#FFF;
$gray:#dcdcdc;
$l-size:2rem;
$m-size:1.25rem;
$s-size:.75rem;





@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}
@mixin box-sizing($border-box) {
  -webkit-box-sizing: $border-box;
  -moz-box-sizing: $border-box;
  box-sizing: $border-box;
}
@mixin gradient{
  background: #dcdcdc;
  background-image: -webkit-linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
  background-image: linear-gradient(180deg, #fff 0%, #f0f0f0 100%);
  background-repeat: no-repeat;
}
@mixin placeholder($color){
  ::-webkit-input-placeholder {
      color: $color;
  }
  ::-moz-placeholder {
      color: $color;
  }
  :-ms-input-placeholder {
      color: $color;
  }
  :-moz-placeholder {
      color: $color;
  }
}
// @include placeholder(#000);

// .borr{
// 	@include transition(all .4s);
  // @include gradient;
// }

// .child{
// 	@extend .borr;
// 	color: $main-color;
// }

